:root {
    --azul-SoulCode: #0f637a;
    --amarelo-SoulCode: #ffd900;
}

body {
    background-color: var(--azul-SoulCode);
}

main {
    min-height: 100vh;
}

#header {
    height: 90px;
}

#app-logo {
    width: 220px;
}

#button-todo-add {
    font-size: 0;
    background-color: var(--amarelo-SoulCode);
}

#todos-list .card {
    background-color: var(--amarelo-SoulCode);
}

#todos-list .card + .card{
    margin-top: 10px;
}

#todo-text {
    margin: 0;
}

.delete-todo {
    font-size: 0;
}

#inlineRadio1:checked {
    background-color: gray;
    /* border-color: #860dfd; */
}

#inlineRadio2:checked {
    background-color:rgb(249, 164, 6);
    /* border-color: #860dfd; */
}

#inlineRadio3:checked {
    background-color: red;
    /* border-color: #860dfd; */
}

.icon-1 {
    color: gray;
}

.icon-2 {
    color: rgb(249, 164, 6);
}

.icon-3 {
    color: red;
}